main {
    text-align: center;
}

h1 {
    font-size: 30px;
    margin: 20px;
    color: #1f2937;
}

.container {
    width: 400px;
    background-color: #dcdcdc8f;
    padding: 20px;
    margin: 20px 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    display: inline-block;
}

.container h2 {
    margin-top: 0;
    font-size: 20px;
    text-align: center;
    color: rgb(85, 85, 85);
}

.form {
    background-color: white;
    padding: 20px;
    margin-top: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.form-place {
    background-color: white;
    margin-top: 10px;
    padding: 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.warehouse-form, .destination-form {
    background-color: white;
    padding: 20px;
    margin-top: 10px;
    border-radius: 5px;
}

.warehouse-form, .destination-form {
    margin-bottom: 15px;
}

.cargo-list {
    margin-top: 10px;
    flex-direction: column;
}

.cargo-item {
    display: flex;
    align-items: center;
    margin: 10px 0px;
    flex-direction: column;
    background-color: #f7f7f7;
    border-radius: 10px;
}

.cargo-item-specification, .cargo-item-buttons {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.form input, .cargo-item-specification input {
    flex-grow: 1;
    margin: 0px 5px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #ebebeb;
    width: 100%;
}

input[list="cargo-types-list"]::-webkit-calendar-picker-indicator {
    opacity: 100;
}

.form button {
    background-color: #efefef;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.form button:hover {
    background-color: #d7d7d7;
}

.form button:active {
    background-color: #c0c0c0;
}

.bin::before {
    content: "\1F5D1";
    margin-right: 5px;
    font-size: 25px;
}

.add-form-button {
    display: block;
    margin-top: 10px;
    background-color: #ffffff;
    color: #9f9f9f;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.add-form-button:hover {
    background-color: #d7d7d7;
    color: #8b8b8b;
}

.add-form-button:active {
    background-color: #c0c0c0;
    color: #828282;
}

.cargo-item-buttons button {
    border: none;
    border-radius: 3px;
    cursor: pointer;
    background-color: #f7f7f7;
    color: #777777;
    flex-grow: 1;
    margin: 0px 35px 3px 35px;
    padding: 10px;
}

.cargo-item-buttons button:hover {
    text-decoration: underline;
}

.remove-warehouse, .remove-destination {
    display: block;
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    background-color: #e0e0e0;
    color: #656565;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.remove-warehouse:hover, .remove-destination:hover {
    background-color: #cfcfcf;
}

.remove-warehouse:active, .remove-destination:active {
    background-color: #bbbbbb;
}

@media (max-width: 450px) {
    .container {
        width: 70%;
        background-color: #dcdcdc8f;
        padding: 20px;
        margin: 20px auto;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    }

    .form {
        background-color: white;
        padding: 20px;
        margin-top: 10px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form input {
        flex-grow: 1;
        margin: 10px;
        padding: 10px;
        border: none;
        border-radius: 3px;
        background-color: #efefef;
        width: 100%;
    }


    .cargo-item {
        flex-direction: column;
    }

    .cargo-item input, .cargo-item button {
        width: 100%;
        margin: 5px 0;
    }
}