<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LTmanager</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap" rel="stylesheet">
    {% block extra_css %}{% endblock %}
    {% block extra_script %}{% endblock %}
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <a href="index.html"><img src="/static/scr/logo.svg" alt="Логотип"></a>
            </div>
            <ul class="nav-menu">
                <li id="auth-link">
                    <a href="entrance.html">Войти</a>
                </li>
                <li><a href="creating-task-method.html">Создать задачу</a></li>
                <li><a href="#lt-manager">О сервисе</a></li>
            </ul>
            <div class="menu-toggle" onclick="toggleMenu()">☰</div>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 Все права защищены.</p>
    </footer>

    <script src="/static/js/auth.js"></script>
    <script>
        function toggleMenu() {
            document.querySelector(".nav-menu").classList.toggle("active");
        }
        
        // Проверяем аутентификацию при загрузке страницы
        fetch('http://localhost:5000/check_auth', { credentials: 'include' })
            .then(response => response.json())
            .then(data => {
                console.log(data)
                if (data.authenticated) {
                    const authLink = document.getElementById('auth-link');
                    authLink.innerHTML = `<a href="#">${data.username}</a>`;
                }
            });
    </script>
    {% block extra_js %}{% endblock %}
</body>
</html>