{% extends "base.html" %}

{% block extra_css %}
    <link rel="stylesheet" href="/static/css/creating-task-method.css">
{% endblock %}

{% block content %}
    <div class="main-container">
        <h1>Выберите способ ввода данных:</h1>
        <button class="method-btn" onclick="document.location='creating-task-settings.html'">Заполнить форму</button>
        <button class="method-btn" onclick="document.location='uploading-file.html'">Загрузить файл</button>
        <button class="method-btn">Перейти в архив</button>
    </div>
{% endblock %}