{% extends "base.html" %}

{% block extra_css %}
    <link rel="stylesheet" href="/static/css/itinerary.css">
{% endblock %}

{% block extra_script %}
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=90edaf8f-93f2-46f8-b63e-29fdcd48f7e5&lang=ru_RU" type="text/javascript"></script>
{% endblock %}

{% block content %}
    <div class="route">
        <aside class="sidebar">
            <h2>Маршрут</h2>
            <ul id="trucks-list" class="list">
            </ul>
        </aside>

        <div class="route-content">
            <h2>Карта маршрута</h2>
            <div id="map"></div>
        </div>
    </div>

    <main class="map-container">
        <div class="statistics">
            <h2>Статистические данные</h2>
            <ul class="list">
                <li id="path-length">Длина пути: ...</li>
                <li id="warehouse-count">Количество складов: ...</li>
                <li id="destination-count">Количество пунктов приема: ...</li>
                <li id="truck-count">Количество машин: ...</li>
                <li id="total-cost">Суммарные затраты на доставку: ...</li>
            </ul>
        </div>
        <div class="buttons">
            <button id="edit-button">Вернуться к редактированию</button>
            <button id="save-button">Сохранить задачу</button>
        </div>
    </main>
{% endblock %}

{% block extra_js %}
    <script src="/static/js/router.js"></script>

    <script>
        ymaps.ready(initMap);

        function initMap() {
            const map = new ymaps.Map('map', {
                center: [55.76, 37.64], // Москва по умолчанию
                zoom: 10
            });

            // ymaps.vow.all([
                // ymaps.route(['Москва, метро Смоленская', 'Москва, метро Нагатинский затон']),
                // ymaps.route(['Москва, метро Нагатинский затон', 'Москва, метро Пионерская'])
            //     ymaps.route([[55.748761277203954,37.58216949999992], [55.68442677743456,37.7045924999999]]),
            //     ymaps.route(['Москва, метро Нагатинский затон', 'Москва, метро Пионерская'])
            // ]).spread(function (route1, route2) {
            //     map.geoObjects.add(route1).add(route2);
            //     ymaps.geoQuery(route1.getPaths()).add(route2.getPaths()).applyBoundsToMap(map);
            // });

            fetch('http://localhost:5000/data')
                .then(response => response.json())
                .then(data => {
                    const { warehouses, destinations, trucks } = data;
                    
                    warehouses.forEach(warehouse => {
                        geocodeAddress(warehouse.address, 'Склад: ' + warehouse.name, map, 'islands#blueIcon');
                    });

                    destinations.forEach(destination => {
                        geocodeAddress(destination.address, 'Пункт выдачи: ' + destination.name, map, 'islands#redIcon');
                    });

                    updateTrucksList(trucks, warehouses, destinations);
                })
                .catch(error => console.error('Error fetching data:', error));
        }

        // Функция для геокодирования адреса и добавления метки на карту
        function geocodeAddress(address, title, map, iconStyle) {
            ymaps.geocode(address, {
                results: 1
            }).then(function (res) {
                const firstGeoObject = res.geoObjects.get(0);
                if (firstGeoObject) {
                    const coordinates = firstGeoObject.geometry.getCoordinates();
                    
                    const placemark = new ymaps.Placemark(
                        coordinates,
                        {
                            hintContent: title,
                            balloonContent: address
                        },
                        {
                            preset: iconStyle
                        }
                    );
                    
                    map.geoObjects.add(placemark);
                    
                    if (map.geoObjects.getLength() === 1) {
                        map.setCenter(coordinates);
                    }
                }
            });
        }

        function updateTrucksList(trucks, warehouses, destinations) {
            const trucksList = document.getElementById('trucks-list');
            trucksList.innerHTML = '';
            if (trucks.length === 0) {
                const item = document.createElement('li');
                item.className = 'truck-item';
                const warehousesList = document.createElement('ul');
                warehousesList.className = 'warehouse-list';
                warehousesList.innerHTML = '<li class="subheader">Склады:</li>';
                
                warehouses.forEach(warehouse => {
                    const warehouseItem = document.createElement('li');
                    warehouseItem.textContent = `${warehouse.name}: ${warehouse.address}`;
                    warehousesList.appendChild(warehouseItem);
                });

                const destinationsList = document.createElement('ul');
                destinationsList.className = 'destination-list';
                destinationsList.innerHTML = '<li class="subheader">Пункты выдачи:</li>';
                
                destinations.forEach(destination => {
                    const destinationItem = document.createElement('li');
                    destinationItem.textContent = `${destination.name}: ${destination.address}`;
                    destinationsList.appendChild(destinationItem);
                });
                
                item.appendChild(warehousesList);
                item.appendChild(destinationsList);
                trucksList.appendChild(item);
            } else {
                trucks.forEach((truck, index) => {
                    const truckItem = document.createElement('li');
                    truckItem.className = 'truck-item';
                    truckItem.innerHTML = `
                        <div class="truck-header">
                            <span>${truck.name}</span>
                        </div>
                    `;

                    if (index === 0) {
                        const warehousesList = document.createElement('ul');
                        warehousesList.className = 'warehouse-list';
                        warehousesList.innerHTML = '<li class="subheader">Склады:</li>';
                        
                        warehouses.forEach(warehouse => {
                            const warehouseItem = document.createElement('li');
                            warehouseItem.textContent = `${warehouse.name}: ${warehouse.address}`;
                            warehousesList.appendChild(warehouseItem);
                        });

                        const destinationsList = document.createElement('ul');
                        destinationsList.className = 'destination-list';
                        destinationsList.innerHTML = '<li class="subheader">Пункты выдачи:</li>';
                        
                        destinations.forEach(destination => {
                            const destinationItem = document.createElement('li');
                            destinationItem.textContent = `${destination.name}: ${destination.address}`;
                            destinationsList.appendChild(destinationItem);
                        });
                        
                        truckItem.appendChild(warehousesList);
                        truckItem.appendChild(destinationsList);
                    }

                    trucksList.appendChild(truckItem);
                })
            }
        }

        window.buildRoutes = function() {
            const script = document.createElement('script');
            script.src = '/static/js/router.js';
            document.body.appendChild(script);
        };

        fetch('http://localhost:5000/data')
            .then(response => response.json())
            .then(data => {
                const { warehouses, destinations, trucks } = data;
                
                // Обновляем статистику
                document.getElementById('warehouse-count').textContent = `Количество складов: ${warehouses.length}`;
                document.getElementById('destination-count').textContent = `Количество пунктов приема: ${destinations.length}`;
                document.getElementById('truck-count').textContent = `Количество машин: ${trucks.length}`;
            })
            .catch(error => console.error('Error fetching data:', error));

        document.getElementById('edit-button').addEventListener('click', () => {
            window.location.href = "creating-task.html";
        });

        document.getElementById('save-button').addEventListener('click', () => {
            // Очищаем cookies после успешного сохранения
            Cookies.remove('formData');
            window.location.href = "index.html";
        });
    </script>
{% endblock %}